/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2015, 6:26:18 PM
    Author     : Nicholas Elek
*/

.index_search_holder{
      text-align: center;
 
}

.index_search{
    margin-top: auto;
    margin-bottom: auto;
}

.text_img{
    margin-left: auto;
    margin-right: auto;
}

.par_text{
    font-size: 22pt;
}

.par_text_2{
    margin-top: 10px;
}

.index_banner{
   
    
}
.par_head{
    text-align: center;
    margin-bottom: 20px;
}

.index_banner_text{
   margin-right: auto;
   margin-left: auto;
   text-align: center;
    color: black;
}


.index_footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    background: #00cc00;
}

